* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
body{
    background-color: aliceblue;
}

header {
    height: 80px;
    background-color: black;
    top: 0;
    width: 100%;
    display: flex;
    padding: 5px;
}

header .logo {
    flex: 30%;
    display: flex;
}

header .logo .imgLogo {
    flex: 10%;
    padding: 5px;

}

header .logo .nomLogo {
    flex: 90%;
    font-size: 30px;
    padding: 1px;
    display: flex;
    align-items: center;
    color: #9b8a2d;
    font-weight: bold;
    letter-spacing: 2px;
}

header .logo .imgLogo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header nav {
    flex: 70%;
    padding: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
    float: right;
    font-size: 25px;
}
header nav a:hover {
    color: rgba(255, 255, 255, 0.47);
}

main .top-bien {
    width: 90%;
    height: 600px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.top-bien .carousel-item {
    height: 600px;
}

.carousel-middle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #b89f0f;
    /* color: #9b8a2d; */
    background-color: rgba(0, 0, 0, 0.481);
    padding: 4%;
    font-weight: bold;
    border-radius: 10%;
}

.bouton-luxe {
    color: #b89f0f;
}

.carousel-item img {

    box-shadow: black;
}

/**************************************
*********** FOOTER **********************
**************************************/
footer {
    height: 300px;
    width: 100%;
    background-color: black;
    margin-bottom: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footercontent {
    height: 120px;
    width: 1000px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

footer .logo {
    flex: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.cont1,
.cont3 {
    flex: 28%;
    color: aliceblue;
    margin-left: 50px;
}

.cont2 {
    flex: 40%;
    color: aliceblue;
    margin-left: 50px;
}

.cont1 p:first-child,
.cont2 p:first-child,
.cont3 p:first-child {
    color: rgb(136, 102, 22);
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    line-height: 40px;
}

footer hr {
    margin-top: 60px;
    width: 900px;
    background-color: white;
    border: solid 1px white;

}

footer .final {
    color: aliceblue;
}

/**********************/
/*album*/
/*********************/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}
/**********************/
/***admin  home *******/
/**********************/
.content{
    width: 70%;
    height: 500px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}
.left{
    flex: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 1%;

}
.right{
    flex: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}
.right .up, .left .up, .right .down, .left .down{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 5%;
    text-decoration: none;
}
.right .up, .left .up{
    margin-bottom: 1%;
}
.right .down, .left .down{
    margin-top: 1%;
}
.right .up, .left .down{
    background-color: #9b8a2d;
}

.left .up, .right .down{
    background-color: black;
}