<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/head :: head"></head>
<body>

    <header th:replace="fragment/header :: header"></header>

    <main>
        <div class="content">
            <div class="left">
                <a href="#" class="up text-white">Tous les Biens</a>
                <a href="#" class="down text-dark">Les Biens Actifs</a>
            </div>
            <div class="right">
                <a href="/admin/register_bien" class="up text-dark">Ajouter un Bien</a>
                <a href="#" class="down text-white">Mettre à Jour</a>
            </div>
        </div>
    </main>

</body>
</html>