<footer th:fragment="footer">

    <div class="footercontent">
        <div class="logo">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/012/747/648/small/ni-initial-letter-gold-calligraphic-feminine-floral-hand-drawn-heraldic-monogram-antique-vintage-style-luxury-logo-design-premium-vector.jpg"
                 alt="" width="50" height="50">
        </div>
        <div class="cont1">
            <p>NES IMMOBILIER</p>
            <p>Siège social</p>
            <p>5 rue de l'immobiler</p>
            <p>7500, Paris- Ile de France</p>
        </div>
        <div class="cont2">
            <p>informations légales</p>
            <p>Mentions legales</p>
            <p>CGU-CGV</p>
            <p>Politique de confidentialité</p>
        </div>
        <div class="cont3">
            <p>contact</p>
            <p>Nous contacter</p>
            <p>Nos Agences</p>
            <p>Nous rejoindre</p>
        </div>
        <div class="logo">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/012/747/648/small/ni-initial-letter-gold-calligraphic-feminine-floral-hand-drawn-heraldic-monogram-antique-vintage-style-luxury-logo-design-premium-vector.jpg"
                 alt="" width="50" height="50">
        </div>
    </div>
    <hr>
    <p class="final">Nes Immo, marque déposée.</p>

</footer>